<header>
<!--Navbar -->
<div role="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark cyan darken-1 default-color">
      <a class="navbar-brand" href="/">ItGlobal Users Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Users
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item active">
            <a class="nav-link">
              <i class="fas fa-user"></i>
              Yasin Sunmaz
            </a>
          </li>          
        </ul>
      </div>
    </nav>
  </div>
<!--/.Navbar -->
</header>