table tr td{
    vertical-align: middle;
    padding: 0 5px;
}
table tr td:last-child{
    text-align: center;
}
h3, h4, h5{
    background: #33b5e5;
    padding: 5px;
    margin: 0;
    color: white;
}
.user-detail{
    background: #f2f2f2;
    padding: 10px;
}
.detail span{
    display: inline-block;
    width: 15%;        
}
.detail p{
    display: inline-block;
    width: 85%;
    margin-bottom: 0;
    padding: 6px 10px;
    border:1px solid black;
    border-radius: 3px;
}
.user{
    background-color: white;    
}
.detail{
    padding: 5px 10px 5px 10px;
}